<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.komia.kmsys.dao.IRoleDao">
  <insert id="addRole" parameterType="SysRole">
	insert into sys_role(name) values (#{name});
  </insert>	
  <delete id="deleteRole" parameterType="int">
  	delete from sys_role where id = #{id};
  </delete>
  <select id="loadRole" parameterType="int" resultType="SysRole">
  	select * from sys_role where id = #{id};
  </select>
  <update id="updateRole" parameterType="SysRole">
  	update sys_role set name = #{name};
  </update>
  
  <select id="getRoles" resultType="SysRole">
  	select * from sys_role;
  </select>
  
  <select id="getUserRole" parameterType="int" resultType="SysRole">
  	select r.* from sys_role r join sys_user_role ur on r.id= ur.roleid where ur.userid = #{uid};
  </select>
  
 <select id="getUserRoleByRoleId" resultType="SysUserRole">
  	select * from sys_user_role ur where ur.userid = #{uid} and ur.roleid = #{roleId};
  </select>
  
  <insert id="addUserRole">
  	insert into sys_user_role(userid,roleid) values (#{uid},#{roleId});
  </insert>
  
  <delete id="deleteUserRoles" parameterType="int">
  	delete from sys_user_role ur where ur.userid = #{uid};
  </delete>
  
  <select id="getRoleResources" parameterType="int">
  	select rs.* from sys_resource rs join sys_role_resource rr on rs.id = rr.resid where rr.roleid = #{roleId}
  </select>
  <insert id="addRoleResource">
  	insert into sys_role_resource(roleid,resid) values (#{roleId},#{resId});
  </insert>
  
  <delete id="deleteRoleResource">
  	delete from sys_role_resource rs where  rs.roleid = #{roleId} and rs.resid = #{resId});
  </delete>
  
  <select id="getRoleResource" resultType="SysResource">
  	select * from sys_role_resource rs where rs.roleid = #{roleId} and rs.resid = #{resId});
  </select>
</mapper>